/* MAIN CSS FILE */

html{
    background-color: white;
    height : 100%;
}

body{
    position:absolute;
    width : 100vw;
    margin:0%;
    background-image: url(./IMG/road.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height : 100%;
}
p{
    
}

a{
   text-decoration: none;
   color: black;
}

a:visited{
    text-decoration : none;
}

#titel{
    text-align: center;
    font-size: 60px;
    width: 100vw;
}

#divLogo{
    width: 100vw;
}

#imgLogo{
	display: block;
	margin: auto;
	height: 30%;
	width: 30%;
}


/* login CSS FILE */


.divLogin{
    text-align: center;
    width:100vw;
}

.frmLogin{
    display: block;
	margin: auto;
}

input{
    
}

#inEmail{
    background: url('IMG/envelope.png') no-repeat left;
    background-size: 1.2em;
   /* background-color: rgba(0,0,0,0.5);*/
    clear: both;
    display: block;
    padding-left: 1.2em;
    width : 100vw;
    border: none;
    border-bottom: 1px solid;
    height : 40px;
    font-size: 250%;
    margin-top: 2%;
}

#inPassword{
    background: url('IMG/password.ico') no-repeat left;
    background-size: 1.2em;
    padding-left: 1.2em;
    clear: both;
    display: block;
    width : 100vw;
    border: none;
    border-bottom: 1px solid;
    height : 47px;
    font-size: 250%;
    margin-top: 2%;
}

#aForgot{
    display: block;
    text-align: right;
    font-size: 120%;
}

#btnLogin{
    display: block;
    width: 100vw;
    margin-top: 2%;
    background-color: transparent;
    border: 1px solid;
    text-decoration: none;
    height : 40px;
    font-size: 250%;
}

.input{
     box-sizing: border-box;
}

#divfoot{
    width:80%;
    margin-left: 10%;
    left: 0;
    bottom: 0;
    height:50px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    text-align: center;

}



/* register CSS FILE */

.divRegister{
    text-align: center;
    width:100vw;
    display: none;
}

#inFirstname{
    background: url('IMG/per.png') no-repeat left;
    background-size: 1.2em;
    padding-left: 1.5em;
    clear: both;
    display: block;
    width : 100%;
    border: none;
    border-bottom: 1px solid;
    height : 47px;
    font-size: 250%;
}

#inLastname{
    background: url('IMG/per.png') no-repeat left;
    background-size: 1.2em;
    padding-left: 1.5em;
    clear: both;
    display: block;
    width : 100%;
    border: none;
    border-bottom: 1px solid;
    height : 47px;
    font-size: 250%;
}

#inREmail{
    background: url('IMG/envelope.png') no-repeat left;
    background-size: 1.4em;
    padding-left: 1.5em;
    clear: both;
    display: block;
    width : 100%;
    margin-bottom:2%;
    border: none;
    border-bottom: 1px solid;
    height : 47px;
    font-size: 250%;
    margin-top:2%;
    
}

#inRPassword{
    background: url('IMG/password.ico') no-repeat left;
    background-size: 1.2em;
    padding-left: 1.5em;
    clear: both;
    display: block;
    width : 100%;
    border: none;
    border-bottom: 1px solid;
    height : 47px;
    font-size: 250%;
}

#inconfirm{
     background: url('IMG/ch.png') no-repeat left;
    background-size: 1.2em;
    padding-left: 1.5em;
    clear: both;
    display: block;
    width : 100%;
    border: none;
    border-bottom: 1px solid;
    height : 47px;
    font-size: 250%;
}
